# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.egg-info/

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/
env/

# ==========================
# Environment Variables
# ==========================
.env
backend/.env

# ==========================
# Chroma Database
# ==========================
backend/chroma_db/

# ==========================
# Uploaded PDFs
# ==========================
backend/documents/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Node
# ==========================
frontend/node_modules/